@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
	padding-top: 50px;
}

body{
	background-color: #f5f5f5;
}

html, body{
	height: 100%;
}

*{
	font-family: Montserrat, Helvetica, sans-serif;
}

a{
	text-decoration: underline;
	color: inherit;
}

nav.navbar{
	margin-bottom: 0px;
}

body .container{
	padding-top: 20px;
	min-height: 100%;
}

nav ul li a{
	text-decoration: none;
}

.codex{
	color: #3bf;
}
li:not(.active) a:hover span.codex{
	color: #9df;
}

.ak{
	color: #5c0;
}
li:not(.active) a:hover span.ak{
	color: #8f3;
}

.cet{
	color: #f93;
}
li:not(.active) a:hover span.cet{
	color: #fc9;
}

.car{
	color: #f0c;
}
li:not(.active) a:hover span.car{
	color: #f6c;
}

h1, h2, h3, h4{
	font-weight: 700;
}

h1{
	text-align: center;
	font-size: 60px;
}

h1 small{
	font-size: 25px;
	line-height: 1px;
}

h2{
	margin-top: 65px;
}

p.links{
	margin-top: 35px;
	text-align: center;
}

p.links a{
	margin-right: 5%;
}

p.links a:last-of-type{
	margin-right: 0;
}